body {
  padding: 0 20px;
  font-family: "Nunito", sans-serif;
}

#place {
  display: block;
  text-align: center;
  margin: 0 auto;
}

#place {
  font-size: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 850;
}

h4 {
  padding-left: 10px;
}

#button {
  background: green;
  color: white;
  border: rgb(0, 63, 0);
}

.card {
  border-color: lightskyblue;
}

.card:hover {
  border-width: 1.5px;
  transition: all 150ms ease-in-out;
  opacity: 0.95;
  background-color: #f7fbffe7;
}

#temp,
#feels {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
}

.col-sm-3,
.col-sm-6 {
  color: black;
  opacity: 0.43;
  text-align: left;
}
#arrow {
  color: black;
  opacity: 0.2;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
}

p {
  padding-left: 10px;
}
